<div class="well">
    <aside id="sparkling-social-2" class="widget sparkling-social">
        <h3 class="widget-title">Follow us</h3>
        <div class="social-icons sticky-sidebar-social">
            <div class="social-icons">
                <a href="https://www.facebook.com/colorlib" title="Follow us on Facebook" class="facebook" target="_blank">
                    <i class="social_icon fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/colorlib" title="Follow us on Twitter" class="twitter" target="_blank">
                    <i class="social_icon fa fa-twitter"></i>
                </a>
                <a href="https://plus.google.com/+Colorlib" title="Follow us on Google+" class="googleplus" target="_blank">
                    <i class="social_icon fa fa-googleplus"></i></a><a href="https://www.youtube.com/channel/UCOaovjLNXdIch2vLFsw_uew" title="Follow us on Youtube" class="youtube" target="_blank"><i class="social_icon fa fa-youtube"></i>
                </a>
            </div>
        </div><!-- end social icons -->
    </aside>

    <aside id="sparkling_popular_posts-2" class="widget sparkling-popular-posts">
        <h3 class="widget-title">Popular Posts</h3>

        <div class="popular-posts-wrapper">
            <div class="post">
                <!-- image -->
                <div class="post-image ">
                    <a href="https://colorlib.com/sparkling/template-comments/"><img width="60" height="60" src="https://cdn2.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/02/slider-wallpaper-colorlib-60x60.png" class="attachment-tab-small wp-post-image" alt="slider-wallpaper-colorlib" scale="0"></a>
                </div> <!-- end post image -->
                <!-- content -->
                <div class="post-content">
                    <a href="https://colorlib.com/sparkling/template-comments/">This is how comments will be displayed on Sparkling WP Theme</a>
                    <span class="date">03 Jan , 2014</span>
                </div><!-- end content -->
            </div><!-- end post -->
        </div> <!-- end posts wrapper -->

    </aside>

    <aside id="sparkling-cats-2" class="widget sparkling-cats" ng-show="categories.length > 0" >
        <h3 class="widget-title">Categories</h3>
        <div class="cats-widget">
            <ul>
                <li class="cat-item cat-item-38" ng-repeat="category in categories">
                    <a href="{{ category.slug }}" title="{{ category.name }}">{{ category.name }}</a>
                    <!--<span>{{ postCount }}</span>-->
                </li>
            </ul>
        </div><!-- end widget content -->
    </aside>

    <aside id="search-2" class="widget widget_search">
        <form method="get" class="form-search" action="https://colorlib.com/sparkling/">
            <div class="input-group">
                <input type="text" class="form-control search-query" value="" name="s" id="s" placeholder="Search...">
	    		<span class="input-group-btn">
		      		<button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search" style="">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
	    		</span>
            </div>
        </form>
    </aside><!-- #search-2-->

    <aside id="recent-comments-2" class="widget widget_recent_comments">
        <h3 class="widget-title">Recent Comments</h3>
        <ul id="recentcomments">
            <li class="recentcomments">
                <span class="comment-author-link">Muralidhara</span> on
                <a href="https://colorlib.com/sparkling/hello-world/#comment-76464">We Created This Awesome Free WordPress Theme To Set New Industry Standard</a>
            </li>
            <li class="recentcomments">
                <span class="comment-author-link">Muralidhara</span> on
                <a href="https://colorlib.com/sparkling/hello-world/#comment-76463">We Created This Awesome Free WordPress Theme To Set New Industry Standard</a>
            </li>
            <li class="recentcomments"><span class="comment-author-link">bokij</span> on
                <a href="https://colorlib.com/sparkling/post-format-gallery/#comment-76439">Post Format: WordPress Tiled Gallery</a>
            </li>
            <li class="recentcomments"><span class="comment-author-link">bokij</span> on
                <a href="https://colorlib.com/sparkling/template-pingbacks-an-trackbacks/#comment-76438">How to Use WordPress Pingbacks And Trackbacks</a>
            </li>
            <li class="recentcomments"><span class="comment-author-link">paul</span> on
                <a href="https://colorlib.com/sparkling/template-pingbacks-an-trackbacks/#comment-76416">How to Use WordPress Pingbacks And Trackbacks</a>
            </li>
        </ul>
    </aside><!-- recent-comments-2 -->

    <aside id="categories-2" class="widget widget_categories" ng-show="categories.length > 0">
        <h3 class="widget-title">Categories</h3>
        <label class="screen-reader-text" for="cat">Categories</label>
        <select name="cat" id="cat" class="postform form-control" style="display: inline-block;">
            <option ng-repeat="category in categories" value="{{category.value}}">{{ category.name }}</option>
        </select>

        <script type="text/javascript">
            /* <![CDATA[ */
            (function() {
                var dropdown = document.getElementById( "cat" );
                function onCatChange() {
                    if ( dropdown.options[ dropdown.selectedIndex ].value > 0 ) {
                        location.href = "dropdown.options[ dropdown.selectedIndex ].value;
                    }
                }
                dropdown.onchange = onCatChange;
            })();
            /* ]]> */
        </script>
    </aside><!-- #categories-2 -->

    <aside id="tag_cloud-2" class="widget widget_tag_cloud" ng-show="tags.length > 0">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud" style="display: block;">
            <a ng-repeat="tag in tags" href="{{ tag.slug }}" title="{{ tag.name }}" style="font-size: 8pt;">{{ tag.name }}</a>
        </div>
    </aside><!-- #tag_cloud-2 -->
</div><!--END .well -->
