<!doctype html>
<!--[if !IE]>
<html class="no-js non-ie" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>
<html class="no-js ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://colorlib.com/sparkling/xmlrpc.php">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon-tm-1.png" />
    <title>techmash.io - all kinds of awesome</title>
    <meta name="description" content="A technology blog about code, architecture, performance, pros/cons of different technology stacks, and career issues facing developers."/>
    <link rel="canonical" href="https://colorlib.com/sparkling" />
    <link rel="next" href="https://colorlib.com/sparkling/page/2/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="techmash.io" />
    <meta property="og:description" content="A technology blog about code, architecture, performance, pros/cons of different technology stacks, and career issues facing developers." />
    <meta property="og:url" content="http://techmash.io" />
    <meta property="og:site_name" content="techmash" />
    <link rel='stylesheet' id='contact-form-7-css'  href='/client/css/style.css?ver=4.2.1' type='text/client/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css'  href='/client/css/mediaelement/mediaelementplayer.min.css?ver=2.16.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css'  href='/client/css/mediaelement/wp-mediaelement.css?ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='sparkling-bootstrap-css'  href='/client/css/bootstrap.min.css?ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='sparkling-icons-css'  href='/client/css/font-awesome.min.css?ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='sparkling-fonts-css'  href='//fonts.googleapis.com/client/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A400%2C300%2C700&#038;ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='flexslider-css-css'  href='/client/css/flexslider.css?ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='sparkling-style-css'  href='/client/css/style.css?ver=4.2.2' type='text/client/css' media='all' />
    <link rel='stylesheet' id='jetpack_css-css'  href='/client/css/jetpack.css?ver=3.6' type='text/client/css' media='all' />
    <!-- / Google Analytics by Yoast -->
    <script type='text/javascript' src='/client/js/jquery.js?ver=1.11.2'></script>
    <script type='text/javascript' src='/client/js/modernizr.min.js?ver=4.2.2'></script>
    <script type='text/javascript' src='/client/js/bootstrap.min.js?ver=4.2.2'></script>
    <script type='text/javascript' src='/client/js/functions.min.js?ver=4.2.2'></script>
</head>

<body class="home blog group-blog infinite-scroll" ng-app="mainApp">
<div id="page" class="hfeed site" ng-controller="rootCtrl">
    <div id="content" class="site-content">
        <header id="masthead" class="site-header" role="banner">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="site-navigation-inner col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div id="logo">
										<span class="site-name">
											<a class="navbar-brand" href="http://techmash.io" title="techmash" rel="home">techmash.io</a>
										</span>
                                </div><!-- end of #logo -->
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <!--<ul id="menu-top" class="nav navbar-nav">
                                    <li id="menu-item-1773" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1773 active">
                                        <a title="Contact" href="mailto:techmash.us@gmail.com">Contact</a>
                                    </li>
                                </ul>-->
                                <div class="collapse navbar-collapse">
                                    <!--<ul class="nav navbar-nav navbar-left">
											{{# each navLinks}}
											<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
												<a href="{{ href }}">{{ label }}</a>
											</li>
										{{/each}}
									</ul>-->
                                    <ul class="nav navbar-nav navbar-right">
                                        {{# each navLinks}}
                                            <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                                                <a href="{{ href }}">{{ label }}</a>
                                            </li>
                                        {{/each}}

                                        {{#if user}}
                                            <li><a href="/keystone/signout">Sign Out</a></li>
                                        {{else}}
                                            <li><a href="/keystone/signin">Sign In</a></li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header><!-- #masthead -->

        <div class="container main-content-area">
            <div class="row">
                {{{body}}}
            </div>
        </div>


        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                <div class="row">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/colorlib" title="Follow us on Facebook" class="facebook" target="_blank">
                            <i class="social_icon fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/colorlib" title="Follow us on Twitter" class="twitter" target="_blank">
                            <i class="social_icon fa fa-twitter"></i>
                        </a>
                        <a href="https://plus.google.com/+Colorlib" title="Follow us on Google+" class="googleplus" target="_blank">
                            <i class="social_icon fa fa-googleplus"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCOaovjLNXdIch2vLFsw_uew" title="Follow us on Youtube" class="youtube" target="_blank">
                            <i class="social_icon fa fa-youtube"></i>
                        </a>
                    </div><!--END .social-icons -->

                    <div class="copyright col-md-6">
                        <a href="#" onclick="return false;" title="Sparkling">TechMash Inc</a> All rights reserved.<br/>Sparkling Theme by
                        <a href="http://colorlib.com/" target="_blank">Colorlib</a><!--<br/>Proudly NOT Powered by
							<a href="http://wordpress.org/" target="_blank">WordPress</a>-->
                    </div>
                </div><!--END .row -->
            </div><!-- .site-info -->

            <div class="scroll-to-top">
                <i class="fa fa-angle-up"></i>
            </div><!-- .scroll-to-top -->
        </footer><!-- #colophon -->

    </div><!--END .site-content -->
</div><!--END #page -->

<script type='text/javascript' src='https://secure.gravatar.com/js/gprofiles.js?ver=2015Julaa'></script>
<script type='text/javascript' src='/client/js/flexslider.min.js?ver=20140222'></script>
<script type='text/javascript' src='/client/js/flexslider-custom.js?ver=20140716'></script>

<script type="text/javascript" src="/client/main-app/dependencies/angular.min.js"></script>
<script type="text/javascript" src="/client/main-app/main-app.js"></script>
<script type="text/javascript" src="/client/main-app/services/dataService.js"></script>
<script type="text/javascript" src="/client/main-app/controllers/rootCtrl.js"></script>

</body>
</html>