<!--<div class="top-section">-->
    <!--<div class="flexslider">-->
        <!--<ul class="slides">-->
            <!--<li>-->
                <!--&lt;!&ndash;<a href="https://colorlib.com/sparkling/template-pingbacks-an-trackbacks/">&ndash;&gt;-->
                <!--<img width="1920" height="600" src="client/images/binary-white-black-1920x600.jpg" class="attachment-post-thumbnail wp-post-image" alt="city-landscape-slider" data-attachment-id="1813" data-orig-file="https://cdn2.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/01/city-landscape-slider.jpg" data-orig-size="1920,600" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="city-landscape-slider" data-image-description="" data-medium-file="https://cdn2.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/01/city-landscape-slider-300x93.jpg" data-large-file="https://cdn.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/01/city-landscape-slider-1024x320.jpg" />-->
                <!--<div class="flex-caption">-->
                    <!--<h2 class="entry-title">TechMash</h2>-->
                    <!--<div class="excerpt excerpt1">This site will discuss code, architecture, performance, pros/cons of different technology stacks, and career issues facing developers</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</li>-->
            <!--<li>-->
                <!--&lt;!&ndash;<a href="https://colorlib.com/sparkling/hello-world/">&ndash;&gt;-->
                <!--<img width="1920" height="600" src="client/images/binary-green-blue-1920x600.jpg" class="attachment-post-thumbnail wp-post-image" alt="slider-wallpaper-colorlib" data-attachment-id="1769" data-orig-file="https://cdn.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/02/slider-wallpaper-colorlib.png" data-orig-size="1920,600" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="slider-wallpaper-colorlib" data-image-description="" data-medium-file="https://cdn.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/02/slider-wallpaper-colorlib-300x93.png" data-large-file="https://cdn.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/02/slider-wallpaper-colorlib-1024x320.png" />-->
                <!--<div class="flex-caption">-->
                    <!--<h2 class="entry-title">Hell I'm not gonna lie</h2>-->
                    <!--<div class="excerpt excerpt2">Occasionally I will use this site to rant and express my personal opinions because...it is my site</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</li>-->
            <!--<li>-->
                <!--&lt;!&ndash;<a href="https://colorlib.com/sparkling/post-format-gallery/">&ndash;&gt;-->
                <!--<img width="1920" height="600" src="client/images/monkey-white-1920x600.png" class="attachment-post-thumbnail wp-post-image" alt="slider-image-blurry" data-attachment-id="1810" data-orig-file="https://cdn1.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/03/slider-image-blurry.jpg" data-orig-size="1920,600" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="slider-image-blurry" data-image-description="" data-medium-file="https://cdn1.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/03/slider-image-blurry-300x93.jpg" data-large-file="https://cdn2.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/03/slider-image-blurry-1024x320.jpg" />-->
                <!--<div class="flex-caption">-->
                    <!--<h2 class="entry-title">Hopefully you will find at least some of this useful</h2>-->
                    <!--<div class="excerpt excerpt3">If you leave a little smarter and not dumber...I will be happy :)<br/>I don't want this degenerating into Yahoo Answers</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</li>-->
        <!--</ul> &lt;!&ndash; END .slides &ndash;&gt;-->
    <!--</div>&lt;!&ndash; END .flexslider&ndash;&gt;-->
    <!--<div class="cfa">-->
        <!--<div class="container">-->
            <!--<div class="col-sm-12"><span class="cfa-text">Super awesome site coming soon!</span></div>-->
            <!--&lt;!&ndash;<div class="col-sm-4"><a class="btn btn-lg cfa-button" href="https://colorlib.com/wp/themes/sparkling/">Download Now!</a></div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; END .cfa &ndash;&gt;-->
<!--</div>&lt;!&ndash; END .top-section &ndash;&gt;-->

<!--<div style="height: 400px;">-->
    <!--<uib-carousel interval="carouselInterval" no-wrap="noWrapSlides">-->
        <!--<uib-slide active="slide.active">-->
            <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
            <!--<div class="carousel-caption">-->
                <!--<h4>Slide {{$index}}</h4>-->
                <!--<p>{{slide.text}}</p>-->
            <!--</div>-->
        <!--</uib-slide>-->
    <!--</uib-carousel>-->
<!--</div>-->

<!--<carousel interval="carouselInterval">-->
    <!--<slide ng-repeat="slide in slides" active="slide.active">-->

        <!--<img class="img-responsive" ng-src="client/images/{{ slide.url }}" style="margin:auto;">-->

    <!--</slide>-->
<!--</carousel>-->