<div class="container">
    <h1>Log In</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <!--<h3 ng-show="true">You are now logged in.</h3>-->
            <form action="login" method="post" ng-show="true">
                <input type="hidden" name="action" value="contact">
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" name="email" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" value="">
                </div>
                <div class="form-actions margin-bottom-30">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>