<div class="main-content-inner col-sm-12 col-md-8 pull-left">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <!--<article>
                <p><a href="/blog">&larr; back to the blog</a></p>
                <hr>
                <header>
                    <h1>{{data.post.title}}</h1>
                    <h5>
                        {{{categoryList data.post.categories prefix="Posted in "}}}
                        {{#if author.name.first}}by {{author.name.first}}{{/if}}
                    </h5>
                </header>
                <div class="post">
                    {{{data.post.content.extended}}}
                </div>
            </article>-->

            <article id="{{ 'post-' + post._id }}" class="post type-post status-publish format-standard has-post-thumbnail hentry category-featured tag-sticky-2 tag-template">
                <img width="750" height="410" src="{{ 'client/blog-content/' + post.mainImageUrl }}" class="single-featured wp-post-image" alt="" scale="0">
                <div class="post-inner-content">
                    <header class="entry-header page-header">
                        <h1 class="entry-title ">{{ post.title }}</h1>
                        <div class="entry-meta">
							<span class="posted-on"><i class="fa fa-calendar"></i>
								<a href="https://colorlib.com/sparkling/template-sticky/" rel="bookmark">
                                    <time class="entry-date published" datetime="2015-01-07T07:07:21+00:00">January 7, 2015</time>
                                    <time class="updated" datetime="2015-05-23T07:57:10+00:00">May 23, 2015</time>
                                </a>
							</span>
							<span class="byline">
								<i class="fa fa-user"></i>
								<span class="author vcard">
									<a class="url fn n" href="https://colorlib.com/sparkling/author/aigars-silkalns/">{{ post.author }}</a>
								</span>
							</span>
										<span class="cat-links"><i class="fa fa-folder-open-o"></i>
							 <a href="https://colorlib.com/sparkling/category/featured/" rel="category tag">Featured</a>				</span>
                        </div><!-- .entry-meta -->
                    </header><!-- .entry-header -->

                    <div class="entry-content">{{ post.content }}</div><!-- .entry-content -->

                    <footer class="entry-meta">
                        <div class="tagcloud" style="display: block;">
                            <a href="https://colorlib.com/sparkling/tag/sticky-2/">sticky</a>
                            <a href="https://colorlib.com/sparkling/tag/template/">template</a>
                        </div>
                    </footer><!-- .entry-meta -->
                </div><!--.post-inner-content -->

                <div class="post-inner-content secondary-content-box">
                    <!-- author bio -->
                    <div class="author-bio content-box-inner">
                        <div class="avatar">
                            <img alt="" src="https://0.gravatar.com/avatar/69f34259a9d0b7df04f0b50893c469ed?s=120&amp;d=mm&amp;r=g" srcset="https://0.gravatar.com/avatar/69f34259a9d0b7df04f0b50893c469ed?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo grav-hashed grav-hijack" height="60" width="60" id="grav-69f34259a9d0b7df04f0b50893c469ed-0" originals="60" src-orig="https://0.gravatar.com/avatar/69f34259a9d0b7df04f0b50893c469ed?s=60&amp;d=mm&amp;r=g" scale="2"/>
                        </div><!-- end .avatar -->
                        <div class="author-bio-content">
                            <h4 class="author-name">
                                <a ui-sref="author-bio">{{ post.author }}</a>
                            </h4>
                            <p class="author-description">
                                Frontend web developer and web designer specialized in free and premium WordPress theme development. Started to learn to code in early 2014 and now I am familiar with CSS/HTML/JavaScript (jQuery). Obsessed with application performance, user experience and simplicity.</p>
                        </div><!-- end .author-bio-content -->
                    </div><!-- end .author-bio  -->
                </div><!--end .secondary-content-box -->
            </article>
        </main>
    </div>
</div><!-- .main-content-inner -->

<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
    <div ng-include="'client/main-app/views/secondary.html'"></div>
</div><!-- #secondary -->