<div class="container">
    <h1>Sign Up</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <!--<h3 ng-show="true">You are now logged in.</h3>-->
            <form method="post" action="signup" ng-show="true">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" name="username" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" value="">
                </div>
                <div class="form-actions margin-bottom-30">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>