<div class="main-content-inner col-sm-12 col-md-8 pull-left">
    <!--<div class="container">
        <h1>Blog</h1>
    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                    <article ng-repeat="post in posts"  id="{{post._id}}" class="post-1149 post type-post status-publish format-standard has-post-thumbnail hentry category-slider category-template-2 tag-comments-2 tag-pingbacks-2 tag-template tag-trackbacks-2">
                        <div class="blog-item-wrap">
                            <a href="{{post.slug}}" title="{{post.title}}" >
                                <img width="750" height="410" src="{{post.content}}" data-orig-size="1920,600" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="city-landscape-slider" data-image-description="" data-medium-file="https://cdn2.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/01/city-landscape-slider-300x93.jpg" data-large-file="https://cdn.colorlib.com/sparkling/wp-content/uploads/sites/5/2014/01/city-landscape-slider-1024x320.jpg"
                            </a>
                            <div class="post-inner-content">
                                <header class="entry-header page-header">
                                    <h1 class="entry-title">
                                        <a href="{{post.slug}}" rel="bookmark">{{post.title}}</a>
                                    </h1>

                                    <div class="entry-meta">
											<span class="posted-on">
												<i class="fa fa-calendar"></i>
												<a href="#" rel="bookmark">
                                                    <time class="entry-date published">{{post.createDate}}</time>
                                                    <time class="updated">{{post.createDate}}</time>
                                                </a>
											</span>
											<span class="byline">
												<i class="fa fa-user"></i>
												<span class="author vcard">
													<a class="url fn n" href="#">Aigars</a>
												</span>
											</span>
											<span class="comments-link">
												<i class="fa fa-comment-o"></i>
												<a href="#">12 Comments</a>
											</span>
                                    </div><!-- .entry-meta -->
                                </header><!-- .entry-header -->

                                <div class="entry-content">{{post.content}}</div><!-- .entry-content -->

                                <p class="read-more-container">
                                    <a class="btn btn-default read-more" href="{{post.slug}}" title="{{post.title}}">Read More</a>
                                </p>

                            </div><!-- END .post-inner-content -->
                        </div><!--END .blog-item-wrap-->
                    </article><!-- #post-## -->
                <!--</div>--><!-- .blog -->
            </div>
        </div>
    </div>
</div><!--END .main-content-inner -->
<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
    <%- include('../partials/secondary') -%>
</div><!-- #secondary -->