{{!< landing}}
<div class="container">
    <h1>Log In</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            {{#if enquirySubmitted}}
                <h3>Thanks for getting in touch.</h3>
            {{else}}
                <form method="post">
                    <input type="hidden" name="action" value="contact">
                    <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
                        <label>Email</label>
                        <input type="text" name="email"  class="form-control" value="{{formData.password}}">
                    </div>
                    <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" value="{{formData.password}}">
                    </div>
                    <div class="form-actions margin-bottom-30">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
</div>